#calendar {
  color: black;
}

.fc-daygrid-day-events {
  /* font-size: 15px; */
  text-align: center;
}
.fc-event-time {
  margin-bottom: 5px;
}
.fc-event-title {
  margin-bottom: 10px;
}
.fc-event-time,
.fc-event-title {
  padding: 0 1px;
  white-space: normal;
}
.fc-list-event-graphic,
.fc-daygrid-event-dot {
  display: none;
}
.fc-daygrid-dot-event,
.fc-event-time {
  display: block !important;
}
.fc-day-today {
  background-color: white !important;
}
/* .fc .fc-daygrid-day-frame {
  min-height: 60px;
} */
.fc-daygrid-dot-event:hover,
.fc-daygrid-dot-event:focus {
  background-color: inherit !important;
}
a.fc-event {
  color: red;
  cursor: default;
}

.fc .fc-toolbar-title {
  color: white;
  font-size: 18px !important;
}

.fc-list-day-cushion {
  background-color: black !important;
}

.fc-daygrid-day,
.fc-list-table {
  background-color: white;
}

.fc-h-event .fc-event-main,
.fc-daygrid-day-number {
  color: black !important;
}
.fc-day-disabled {
  background-color: lightgrey !important;
}
.fc-h-event {
  background-color: lightgrey;
  padding: 5px;
  border: none;
  font-weight: bold;
}
